/* IGNORE STYLES */
@font-face {
  font-family: 'exocetlight';
  src: url('./ExocetLight.woff2') format('woff2');
  src: url('./ExocetLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #222;
}

/* END IGNORE STYLES */

[data-autolink-id],
.tooltip-link {
  display: inline-block;
}

.item-tooltip {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'exocetlight', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  z-index: 999;
}

.item-tooltip.tooltipIsVisible {
  display: block;
}

.item-tooltip-content {
  display: none;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
}

.item-tooltip-content,
.item-tooltip-attrs {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.item-quality-unique {
  color: #b89d5c !important;
}

.item-quality-set {
  color: green !important;
}

.item-quality-rare {
  color: yellow !important;
}

.item-quality-magic {
  color: #8383ea !important;
}

.item-tooltip-attr {
  color: white;
}

.item-tooltip-attr span {
  color: white !important;
}

.item-tooltip-pricing {
  display: none;
  font-family: sans-serif;
  border-top: 1px solid #333;
  margin-top: 10px;
}

.item-tooltip-pricing.isVisible {
  display: flex;
  flex-direction: column;
}

.pricing-header {
  color: #ebebeb;
  padding: 10px 0 2px 0;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
  text-transform: none;
}

.pricing-content {
  display: flex;
  flex-direction: row;
  color: #ebebeb;
  font-size: 14px;
  justify-content: space-between;
  padding: 10px;
}

.pricing-content-low, .pricing-content-high, .pricing-label-low, .pricing-label-high {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  column-gap: 5px;
}

.pricing-rune img {
  width: 35px;
  height: 35px;
}

.pricing-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #666;
  font-size: 15px;
}
